/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* FONTS */
    --font-family: 'Roboto', sans-serif;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .938rem;
    --font-size-6: .813rem;
    --font-size-7: .75rem;

    --font-weight-bold: 700;
    --font-weight-medium: 500;

    /* COLORS */
    --primary-color: hsl(24, 90%, 49%);
    --secondary-color: hsl(24, 96%, 42%);
    /* --primary-color: hsl(24, 73%, 55%); */
    /* --background-color: linear-gradient(90deg ,#2D6509, #4C8D05  */
    /* ); */
    /* --background-color: linear-gradient(90deg ,#8F6859, #249F68 ); */
    --background-color: linear-gradient(90deg ,#805a4b, #198655 );
    --navbar-color: linear-gradient(150deg ,#634438, #09492c );
    /* --element-color: linear-gradient(138deg, #0E5044, #D9C0A6); */
    --element-color: hsla(0, 0%, 0%, .2);
    --text-color-dark: hsl(206, 4%, 42);
    --text-color-light: hsl(0, 0%, 77%); /* 95% */
    --heading-color: hsl(0, 0%, 98%);
    --border-color: hsl(0, 0%, 90%);
}

/* GENERAL STYLES & RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3.5rem 0 0;
    /* https://colors.dopely.top/gradients */
    /* https://colors.dopely.top/gradients/co9OelQrqwK */
    background: var(--background-color);
    background-size: cover;
    color: var(--text-color-light);

}

body,
button,
input {
    font-family: var(--font-family);
    font-size: var(--font-size-5);
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-medium);
    color: var(--heading-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* COMMON CSS CLASSES */
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section {
    padding: 3rem 0 4.5rem;
}

.section__title {
    position: relative;
    margin-bottom: 2rem;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    /* text-transform: ; */
    transition: .4s;
}

.section__title--center {
    text-align: center;
}

.button {
    display: inline-block;
    padding: .8rem 1.2rem;
    border-radius: .3rem;
    background-color: var(--primary-color);
    color: var(--heading-color);
    font-weight: var(--font-weight-medium);
    transition: .4s;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button--link {
    background: none;
}

.button--link:hover {
    background: none;
}

.button--link:hover .button-icon {
    transform: translateX(.2rem);
}

.button-icon {
    font-size: var(--font-size-5);
}

/* HEADER */
.header {
    width: 100%;
    /* background: transparent; */
    transition: all 4s;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header--active {
    /* background: linear-gradient(90deg ,#297207, #427c04 
    ); */
    background: var(--navbar-color);
    /* background: var(--background-color); */
    box-shadow: 0 2px 5px rgba(66, 34, 34, 0.4);
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .4rem;
    font-weight: var(--font-weight-medium);
    color: var(--heading-color);
}

.nav__logo-icon {
    font-size: var(--font-size-3);
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__list-item {

}

.nav__link {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.nav__link:hover {

}

.nav__link--active {
    position: relative;
}

.nav__link--active::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--heading-color);
    border-radius: 50%;
}

.nav__link--mark {
    padding: .7rem .9rem;
    text-transform: initial;
    border: 2px solid var(--heading-color);
    border-radius: 1.2rem;
}

.nav__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: var(--font-size-1);
    color: var(--heading-color);
    cursor: pointer;
}

.nav__toggle {
    font-size: var(--font-size-3);
    color: var(--heading-color);
    cursor: pointer;
}

/* HOME */
.home {
    padding: 3.5rem 0 2rem;
}

.home__container {
    display: grid;
    position: relative;
    row-gap: 2rem;
}

.home__img {
    justify-self: center;
    width: 230px;
}

.home__data {

}

.home__subtitle {
    margin-bottom: 1rem;
    font-size: var(--font-size-4);
    text-transform: uppercase;
}

.home__title {
    margin-bottom: 1rem;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    line-height: 120%;
}

.home__description {
    margin-bottom: 2rem;
    line-height: 140%;
}

.home__button-group {
    display: flex;
    justify-content: space-between;

}

/* FAVORITE */
.favorite {

}

.favorite__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.favorite__card {
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    background: transparent;
    border: none;
    transition: .4s;
}

.favorite__img {
    max-width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

.favorite__data {

}

.favorite__title {
    margin-bottom: .5rem;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-medium);
}

.favorite__description {
    font-size: var(--font-size-6);
}

/* ABOUT */
.about {

}

.about__container {
    display: grid;
    row-gap: 6rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 1.5rem;
}

.about__img {
    width: 70%;
    justify-self: center;
    transform: rotate(-20deg);
}

/* CANDY */
.candy {

}

.candy__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.candy__card {
    position: relative;
    padding: 1.2rem;
    text-align: center;
    /* background: var(--element-color); */
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: .8rem;
    transition: .4s;
}

.candy__img {
    max-width: 80%;
    height: 70px;
    margin-bottom: 1rem;
    padding: .3rem;
}

.candy__data {

}

.candy__title {
    margin-bottom: .2rem;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-bold);
}

.candy__category {
    margin-bottom: .4rem;
    font-size: var(--font-size-7);
}

.candy__price {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-medium);
}

/* DISCOUNT */
.discount {
    /* background: var(--element-color); */
    /* background-color: var(--element-color);
    border-radius: .8rem; */
}

.discount__container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
    row-gap: 1rem;
    padding: 2.5rem 1rem 0;
    background-color: var(--element-color);
    border-radius: .8rem;
}

.discount__box {
    text-align: center;
}

.discount__img {
    max-width: 100%;
}

/* NEW */
.new {

}

.new__container {
    display: grid;

}

.new__card {
    width: 200px;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    text-align: center;
}

.new__tag {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    padding: .3rem .5rem;
    background-color: var(--primary-color);
    color: var(--heading-color);
    border-radius: .3rem;
}

.new__img {
    max-width: 100%;
    height: 110px;
    margin-bottom: 1.5rem;
}

.new__title {
    margin-bottom: .3rem;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-medium);
}

.new__category {
    margin-bottom: .7rem;
}

.new__price-group {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.new__price-new {
    color: var(--heading-color);
    font-weight: var(--font-weight-medium);
}

.new__price-old {
    color: var(--primary-color);
    text-decoration: line-through;
}

.new-swiper {
    margin-left: initial;
    margin-right: initial;
}

/* NEWSLETTER */
.newsletter {
    
}

.newsletter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter__description {
    margin-bottom: 2rem;
}

.newsletter__box {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
    padding: .8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.newsletter__input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color-light);
}

.newsletter__input::placeholder {
    color: var(--text-color-light);
    opacity: 1;
}

/* FOOTER */
.footer {
    padding: 4rem 0 2rem;
}

.footer__container {
    display: grid;
    row-gap: 2rem;
    padding-bottom: 2rem;
}

.footer__data {

}

.footer__subtitle {
    margin-bottom: 1rem;
    font-size: var(--font-size-4);
}

.footer__icon {

}

.footer__group {

}

.footer__description {
    margin-bottom: 2rem;
}

.footer__social {
    display: flex;
    column-gap: .3rem;
    font-size: var(--font-size-4);
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--heading-color);
    border-radius: .3rem;
    transition: .4s;
}

.footer__social-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}

.footer__list-item {
    
}

.footer__link {
    color: var(--text-color-light);
}

.footer__link:hover {
    color: var(--primary-color);
}

.footer__copy {
    display: block;
    margin: 1.5rem 0 1.55rem;
    text-align: center;
}

/* SCROLL UP */
.scroll-up {
    position: fixed;
    display: inline-flex;
    bottom: -35%;
    right: 2rem;
    padding: .4rem;
    background-color: rgba(70, 70, 70, 0.6);
    box-shadow: 0 0 5px hsl(206, 4%, 75%);
    border-radius: .5rem;
    opacity: .8rem;
    z-index: 100;
    transition: .4s;
}

.scroll-up:hover {
    box-shadow: 0 0 10px hsl(0, 0%, 68%);
    opacity: 1;
}

.scroll-up--show {
    bottom: 2rem;
}

.scroll-up__icon {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: .7rem;
    background-color: #2D6509;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--primary-color);
}

/* BREAKPOINTS */
/* Small screen */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home__title {
        font-size: var(--font-size-2);
    }

    .candy__container {
        grid-template-columns: repeat(1, 170px);
        justify-content: center;
    }

    .favorite__container {
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
    }
}

/* Medium screen */
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 2.5rem 4rem;
        z-index: 100;
        /* background: var(--background-color); */
        background: var(--navbar-color);
        border-radius: 0 0 1rem 1rem;
        transition: .4s;
    }

    .nav__menu--show {
        top: 0;
    }
}

@media screen and (min-width: 767px) {
    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: 4rem;
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }
    .nav__link {
        font-size: var(--font-size-5);
        font-weight: initial;
        text-transform: initial;
    }

    .home {
        padding: 7rem 0 3.5rem;
    }

    .home__container,
    .about__container,
    .discount__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }

    .home__img {
        width: 90%;
        order: 1;
    }
    .home__data {
        order: 2;
    }

    .favorite__container {
        grid-template-columns: repeat(3, 220px);
        justify-content: center;
        column-gap: 5rem;
    }

    .candy__container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .discount__container {
        padding: 0 2rem;
    }
    .discount__box {
        order: 2;
    }
    .discount__img {
        order: 1;
    }

    .new__card {
        width: 250px;
        padding: 2rem;
    }
    .new__img {
        height: 130px;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }
}

@media screen and (min-width: 968px) {
    :root {
        --font-size-1: 3.5rem;
        --font-size-2: 2.25rem;
        --font-size-3: 1.5rem;
        --font-size-4: 1.25rem;
        --font-size-5: 1rem;
        --font-size-6: .875rem;
        --font-size-7: .813rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section__title {

    }

    .home {
        
    }
}

@media screen and (min-width: 1024px) {
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
        column-gap: 5rem;
    }
}

/* Large screen */